# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/inspectionProfiles/
.idea/libraries/
app/src/androidTest/androidTest.iml
app/src/main/main.iml
app/src/test/test.iml
build/
out/
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/runConfigurations.xml
gen/
local.properties
projectFilesBackup/
